
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Environment variables
.env

# Proxy cache
.proxy-cache.json

# Screenshots
screenshots/

# dist folder
dist/

# Temporary files
temp/

# Videos
videos/

#planing files Roo-code
plan.md
.DS_Store
