
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Environment variables
.env

# Screenshots
screenshots/

# dist folder
dist/

# Temporary files
temp/

# Videos
videos/